---

---

<div class="paperHeader">
  <p class="paperHeader_title">
    <img src="/newsLogo.png" alt="W新聞" />
  </p>
  <dl class="paperHeader_copy">
    <dt>発行元</dt>
    <dd>一七九.jp</dd>
  </dl>
</div>